### Go ###
*.exe
*.exe~
*.dll
*.so
*.dylib
.cache/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Kubernetes ###
Kubernetes/overlays/*/secrets/
dist.yaml
